.popup__field-name {
  width: 358px;
  margin: 54px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #000000;
}
